<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Engine</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Matrix Search Engine</h1>
        <form method="POST" action="/search">
            <input type="text" name="query" placeholder="What do u want to search master..." required>
            <button type="submit">GO</button>
        </form>

        {% if query %}
        <h2>Results for: "{{ query }}"</h2>
        {% if results %}
        <ul class="results">
            {% for result in results %}
            <li><a href="{{ result[0] }}" target="_blank">{{ result[0] }}</a> <span class="score">(Score: {{ result[1] }})</span></li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="no-results">No results found.</p>
        {% endif %}
        {% endif %}
    </div>
</body>
</html>
